
{% extends "base.html" %}

{% block body %}
<div class="container bootstrap snippets bootdey" style="margin-top: 100px;">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <h3 class="text-center">Mot de passe oublié</h3>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Adresse email" name="email" type="text">
                    </div>
                    <br>
                    <input class="btn btn-lg btn-primary btn-block btn-sm" value="Envoyer un mot de passe" type="submit">
                </fieldset>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}