
{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/service.css') }}">
<div class="container bootstrap snippets bootdey">
    <hr>
    <ol class="breadcrumb">
        <h1><a href="#" class="link">Résultats de recherche '{{ search_value }}'</a></h1>
    </ol>
    <div class="row">
        {% if hopitaux %}
        <h2>Les hôpitaux:</h2>
        {% for hospital in hopitaux %}
        <div class="well search-result">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <a href="{{ url_for('serviceinfo', id=getServiceIdForHospital(hospital.id)) }}">
                        <img src="{{ url_for('static', filename='images/hopital.png') }}" alt="Hospital Image" class="img-fluid smaller-image float-left">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                    <a href="{{ url_for('serviceinfo', id=getServiceIdForHospital(hospital.id)) }}">
                        <h5>{{ hospital.name }}</h5>
                        <p>{{ hospital.ville }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if pharmacies %}
        <h2>Les pharmacies:</h2>
        {% for pharmacy in pharmacies %}
        <div class="well search-result">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <a href="{{ url_for('serviceinfo', id=getServiceIdForPharmacie(pharmacy.id)) }}">
                        <img src="{{ url_for('static', filename='images/pharmacie.png') }}" alt="Pharmacy Image" class="img-fluid smaller-image float-left">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                    <a href="{{ url_for('serviceinfo', id=getServiceIdForPharmacie(pharmacy.id)) }}">
                        <h5>{{ pharmacy.name }}</h5>
                        <p>{{ pharmacy.address }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if not hopitaux and not pharmacies %}
        <p>No results found for '{{ search_value }}'.</p>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}